.dropdownitem {
    color: darkslategrey;
    font-size: 170%;
    vertical-align: center;
    border-radius: 5px;
    margin: 0 !important;
}

.dropdownitem :hover {
    background-color: dodgerblue;
    color: black;
    border-radius: 5px;
}

.dropdownitem__icon {
    transform: scale(1.3);
    margin-right: 10px;
}
