.dropdown__content {
    position: absolute;
    background-color: deepskyblue;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    width: 150%;
    border-radius: 5px;
}
