.egg-moves__header {
    font-size: 80%;
    font-weight: bold;
    border-radius: 10px 10px 0 0 !important;
}

.egg-moves__header.closed {
    border-radius: 10px 10px 10px 10px !important;
}

.egg-moves__header:hover {
    cursor: pointer;
}

.egg__icon {
    width: 24px;
    height: 28px;
}

.arrow__icon {
    width: 20px;
    height: 20px;
}

.egg__move {
    padding: 5px 0 5px 0 !important;
    margin: 1px 0 1px 0 !important;
    font-size: 70%;
}
