.egg-move__display {
    font-size: 85%;
}

.move__name {
    text-decoration: none !important;
}

.move__name:hover {
    text-decoration: underline !important;
    color: #0f81cc !important;
}

.column {
    margin: auto;
}

.level.custom-level-height {
    margin: auto !important;
}
