.stat__display {
    margin-bottom: 0 !important;
}

.stat__name {
    width: 10%;
    font-size: 60%;
    font-style: italic;
}

.stat__value {
    width: 10%;
    font-weight: bold;
}

.stat__bar {
    width: 70% !important;
}

.progress.is-orange::-webkit-progress-value {
    background-color:#F59900;
}

.progress.is-orange::-moz-progress-bar {
    background-color:#F59900;
}

.progress.is-orange::-ms-fill{
    background-color:#F59900;
}
