.stat__display {
    margin-bottom: 0 !important;
}

.stat__name {
    width: 10%;
    font-size: 60%;
    font-style: italic;
}

.stat__value {
    width: 10%;
}

.stat__bar {
    width: 70% !important;
}
