.pokemon_display {
    padding-top: 130px;
}

.notification {
    padding: 1.25rem !important;
}

.display__name {
    font-size: 60%;
    font-style: italic;
}

.type-title {
    padding-bottom: 10px;
}

.weight-title {
    padding-bottom: 10px;
}
