@media screen and (max-width: 600px) {
    .searchbar {
        padding-left: 0 !important;
    }

    .searchbar__input {
        min-width: 110% !important;
    }
}

@media screen and (max-width: 1000px) {
    .searchbar__input {
        min-width: 150%;
    }
}

.searchbar__input {
    min-width: 200%;
}
