@media screen and (max-width: 640px) {
    .searchbar {
        padding-left: 0 !important;
    }

    .searchbar__input {
        min-width: 130% !important;
    }
}

.searchbar__input {
    min-width: 200%;
}
