.egg-group-title {
    margin-bottom: 52px;
    background-color: #ba6dc9;
}

.egg-group-title__text {
    font-size: 2rem;
    font-weight: 600;
    color: #FFFFFF;
}

.egg-group-title__icon {
    max-width: 48px;
    margin-left: 8px;
}

@media (min-width: 800px) {
    .hero-content {
        margin-bottom: 0 !important;
        padding-left: 52px;
    }
}

