.move-title {
    margin-bottom: 52px;
}

.move-title__icon {
    transform: scale(1.3);
}

@media (min-width: 800px) {
    .move-title__text {
        margin-bottom: 0 !important;
        padding-left: 52px;
    }

    .move-title__icon {
        margin-left: 20px;
        transform: scale(1.3);
    }
}
